@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
      --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
  }

  * {
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: inherit;
  }

  html {
      font-size: 93.75%;
  }

  body {
      box-sizing: border-box;
  }
  
  .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: react(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
  }
  #image_top {
      position: absolute;
      top: 0;
  }

  #image_bottom  {
      position: absolute;
      bottom: 0;
  }

  .launch {
      position: relative;
      display: flex;
      justify-content: space-between;

      margin: 150px 0 0 0;
  }

  .ready_launch {
      margin: 0 0 0 27px;
      height: 250px;
  }

  .register{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .register p {
    margin: 46px 0 31px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: var(--text-color);
  }

  .register a, form button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 160px;
    color: white;
    background-color: var(--purple);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  .rocket_background img {
    width: 98%;
  }

  .ready_launch h1 {
      height: 50px;
      font-weight: Bold;
      font-size: 36px;
      color: var(--purple);

  }
  .countdown-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      gap: 30px;
  }

  .countdown-el span {
      margin: 20px 0 20px 0;
      color: var(--text-color);
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-weight: 500;
  }

  .text {
      font-family: 'Poppins', sans-serif;
      font-size: 72px;
      font-weight: normal;
      color: var(--black);
  }

  .modal-overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .7);
      position: fixed;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      opacity: 0;
      visibility: hidden;
  }


  .modal-overlay.active {
      opacity: 1;
      visibility: visible;
  }
  .modal {
    background: #f0f2f5;
    padding: 75px;
    position: relative;
  }

  .modal a {
      position: absolute;
      top: 0;
      right: 5px;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      color: var(--purple);
  }
  #form h2 {
      margin: 0px 0px 20px 0px;
      font-family: 'Poppins', sans-serif;
      color: var(--purple);
  }

  .input-group {
    margin-top: 10px;
  }

  input {
      border: none;
      outline: 0;
      width: 300px;
      height: 30px;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
  }
  form button {
      margin-top: 10px;
  }

  /* Responsibility */

  @media (max-width: 941px){
    .ready_launch h1{
        position: relative;
        margin-bottom: 30px;
        height: auto;
    }
    .countdown-container {
        position: relative;
    }
  }